<html>
<head>
<title>Home page</title>
</head>

<body>

<h2>
    This is an about About of a simple blog site
</h2></br>
    <%= link_to 'Articles listing', articles_path %> | 
    <%= link_to 'Back to Home page', root_path %>
</body>
</html>