<html>
<head>
<title>Home</title>
</head>

<body>
    <h2>
        Welcome to a simple blog site
    </h2>
    </br>
    <%= link_to 'Article listing', articles_path %> | 
    <%= link_to 'About page', about_path %>
</body>
</html>